<div class="div container p-4 mx-auto">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title fw-bold">
        <%- vista.apellido %>, <%- vista.nombre %>
      </h1>
      <h5 class="card-text">
        D.N.I. N° <%- vista.documento %> - Fecha de nacimiento: <%- fechaNac %>
      </h5>
      <br />
      <hr />
      <h3 class="text-center fw-bold">Historial</h3>
      <table class="table table-sm caption-top align-middle text-center">
        <thead>
          <tr>
            <th scope="col">Colegio de origen</th>
            <th scope="col">Fecha de Ingreso</th>
            <th scope="col">Colegio de destino</th>
            <th scope="col">Fecha de salida</th>
            <th scope="col">Situación</th>
            <th scope="col">Observaciones</th>
            <th scope="col">Fecha de egreso</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%- historial.colegioOrigen %></td>
            <td><%- fechaIngreso %></td>
            <td><%- historial.colegioDestino %></td>
            <td><%- fechaSalida %></td>
            <td><%- historial.situacion %></td>
            <td><%- historial.observaciones %></td>
            <td><%- fechaEgreso %></td>
          </tr>
        </tbody>
      </table>
      <br />
      <hr />
      <h3 class="text-center fw-bold">Libro Matriz y Legajo</h3>
      <table class="table table-sm caption-top align-middle text-center">
        <thead>
          <tr>
            <th scope="col">Libro</th>
            <th scope="col">Folio</th>
            <th scope="col">Legajo</th>
            <th scope="col">Año</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%- vista.libroMatriz.numeroLibro %></td>
            <td><%- vista.libroMatriz.folioLibro %></td>
            <td><%- vista.legajo.numeroLegajo %></td>
            <td><%- vista.legajo.anioLegajo %></td>
          </tr>
        </tbody>
      </table>
      <br />
      <hr />
      <h3 class="text-center fw-bold">
        Trayectoria dentro del establecimiento
      </h3>
      <br />
      <table class="table table-sm caption-top align-middle text-center">
        <thead>
          <% trayectoria.forEach(function(trayectoria){ %>
          <th scope="row">Rac <%- trayectoria.anioCurso %></th>
          <% }) %>
        </thead>
        <tbody>
          <% trayectoria.forEach(function(trayectoria){ %>
          <td><%- trayectoria.curso %></td>
          <% }) %>
        </tbody>
      </table>

      <div
        class="btn-group justify-content-end"
        role="group"
        aria-label="Basic mixed styles example"
      >
        <a href="/list" class="btn btn-primary">Volver</a>
        <a href="/edit/<%- vista._id %>" class="btn btn-secondary">Editar</a>
        <a href="delete/<%- vista._id %>" class="btn btn-danger">Eliminar</a>
      </div>
    </div>
  </div>
</div>
